{% extends 'measure/base.html' %}
{% block content %}
<div class="container">
    <form method="get">

        <input type="number" name="codigo" placeholder = "codigo">
        <input type="number" name="latitud" placeholder = "latitud">
        <input type="number" name="longitud" placeholder = "longitud">   
        <input type="number" min="0" name="area" placeholder = "area">
        
        <input type="text" name="producto" placeholder = "producto">
        
        <button type="submit">Adicionar</button>
    </form>
    {% for measure in measures %}
    <ul class="list-group">
        <li class="list-group-item">{{measure.codigo}} - {{measure.latitud}} - {{measure.longitud}} - {{measure.area}} - {{measure.producto}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}